In [48]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [49]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [50]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [51]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [52]:
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
onehot_encoder_geo.get_feature_names_out(['Geography'])
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [53]:
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [54]:
x=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [55]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [56]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [57]:
with open('label_encoder_gender.pkl','wb')as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb')as file:    
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl','wb')as file:
    pickle.dump(scaler,file)

In [58]:
# ann regression problem statement

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [59]:
model=Sequential([Dense(64,activation='relu',input_shape=(x_train.shape[1],)),# x_train.shape--> this is only for hl1 it is getting connected to some inputs over there
                  Dense(32,activation='relu'),## HL2
                  Dense(1) ## output layer
                 ])

d:\ann classification\venv\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [60]:
# compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae']) 
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [63]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir="regressionlogs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=tf.keras.callbacks.TensorBoard(log_dir=log_dir,histogram_freq=1) 

early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [64]:
print(x_train.shape)
print(y_train.shape)

(8000, 12)
(8000,)

In [65]:
history = model.fit(
    x_train,y_train,
    validation_data=(x_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_callback]
    )

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 15s 8ms/step - loss: 99013.0234 - mae: 99013.0234 - val_loss: 98535.7500 - val_mae: 98535.7500
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 100088.6875 - mae: 100088.6875 - val_loss: 97131.0156 - val_mae: 97131.0156
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 98162.6953 - mae: 98162.6953 - val_loss: 93551.6484 - val_mae: 93551.6484
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 93505.5859 - mae: 93505.5859 - val_loss: 87527.1250 - val_mae: 87527.1250
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 87555.3516 - mae: 87555.3516 - val_loss: 79661.1328 - val_mae: 79661.1328
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 79505.4453 - mae: 79505.4453 - val_loss: 71245.5156 - val_mae: 71245.5156
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 70179.5938 - mae: 70179.5938 - val_loss: 63598.7539 - val_mae: 63598.7539
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 62854.3008 - mae: 62854.3008 - val_loss: 57660.1602 - val_mae: 57660.1602
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 57104.2891 - mae: 57104.2891 - val_loss: 54026.1367 - val_mae: 54026.1367
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 53308.0273 - mae: 53308.0273 - val_loss: 52267.8945 - val_mae: 52267.8945
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 51595.2656 - mae: 51595.2656 - val_loss: 51602.5625 - val_mae: 51602.5625
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 51491.7422 - mae: 51491.7422 - val_loss: 51320.7422 - val_mae: 51320.7422
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 50393.0938 - mae: 50393.0938 - val_loss: 51195.0625 - val_mae: 51195.0625
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 50531.5430 - mae: 50531.5430 - val_loss: 51110.3555 - val_mae: 51110.3555
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49807.2852 - mae: 49807.2852 - val_loss: 51036.8633 - val_mae: 51036.8633
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50128.0000 - mae: 50128.0000 - val_loss: 50977.9062 - val_mae: 50977.9062
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49503.9609 - mae: 49503.9609 - val_loss: 50915.1562 - val_mae: 50915.1562
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49557.5742 - mae: 49557.5742 - val_loss: 50871.3555 - val_mae: 50871.3555
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50039.7188 - mae: 50039.7188 - val_loss: 50837.6641 - val_mae: 50837.6641
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49801.8828 - mae: 49801.8828 - val_loss: 50786.1172 - val_mae: 50786.1172
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50158.3047 - mae: 50158.3047 - val_loss: 50750.8594 - val_mae: 50750.8594
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50106.4023 - mae: 50106.4023 - val_loss: 50720.2930 - val_mae: 50720.2930
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49832.6602 - mae: 49832.6602 - val_loss: 50692.4688 - val_mae: 50692.4688
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49827.7930 - mae: 49827.7930 - val_loss: 50658.7344 - val_mae: 50658.7344
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49869.5820 - mae: 49869.5820 - val_loss: 50627.5977 - val_mae: 50627.5977
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50038.4492 - mae: 50038.4492 - val_loss: 50611.4102 - val_mae: 50611.4102
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49290.4883 - mae: 49290.4883 - val_loss: 50605.9766 - val_mae: 50605.9766
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49940.5391 - mae: 49940.5391 - val_loss: 50587.2148 - val_mae: 50587.2148
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49928.7539 - mae: 49928.7539 - val_loss: 50576.4766 - val_mae: 50576.4766
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49441.0312 - mae: 49441.0312 - val_loss: 50548.1406 - val_mae: 50548.1406
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49568.2422 - mae: 49568.2422 - val_loss: 50537.8711 - val_mae: 50537.8711
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49594.6172 - mae: 49594.6172 - val_loss: 50523.5391 - val_mae: 50523.5391
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49150.8906 - mae: 49150.8906 - val_loss: 50517.4531 - val_mae: 50517.4531
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49816.3750 - mae: 49816.3750 - val_loss: 50503.9922 - val_mae: 50503.9922
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49291.3633 - mae: 49291.3633 - val_loss: 50482.2578 - val_mae: 50482.2578
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49490.8867 - mae: 49490.8867 - val_loss: 50480.9375 - val_mae: 50480.9375
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49526.7227 - mae: 49526.7227 - val_loss: 50478.3906 - val_mae: 50478.3906
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49076.5820 - mae: 49076.5820 - val_loss: 50472.2031 - val_mae: 50472.2031
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49580.2539 - mae: 49580.2539 - val_loss: 50453.5547 - val_mae: 50453.5547
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49704.9258 - mae: 49704.9258 - val_loss: 50445.5273 - val_mae: 50445.5273
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49773.3242 - mae: 49773.3242 - val_loss: 50444.4102 - val_mae: 50444.4102
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49954.5039 - mae: 49954.5039 - val_loss: 50430.7383 - val_mae: 50430.7383
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49881.1250 - mae: 49881.1250 - val_loss: 50431.7109 - val_mae: 50431.7109
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49475.5625 - mae: 49475.5625 - val_loss: 50424.5078 - val_mae: 50424.5078
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49869.2773 - mae: 49869.2773 - val_loss: 50423.8086 - val_mae: 50423.8086
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49584.6367 - mae: 49584.6367 - val_loss: 50425.3633 - val_mae: 50425.3633
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49534.2031 - mae: 49534.2031 - val_loss: 50413.9492 - val_mae: 50413.9492
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49214.5352 - mae: 49214.5352 - val_loss: 50400.6953 - val_mae: 50400.6953
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49645.4336 - mae: 49645.4336 - val_loss: 50398.6836 - val_mae: 50398.6836
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49470.9297 - mae: 49470.9297 - val_loss: 50403.0352 - val_mae: 50403.0352
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49620.2578 - mae: 49620.2578 - val_loss: 50390.8281 - val_mae: 50390.8281
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49094.5703 - mae: 49094.5703 - val_loss: 50394.9023 - val_mae: 50394.9023
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49448.8086 - mae: 49448.8086 - val_loss: 50397.7109 - val_mae: 50397.7109
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49576.5898 - mae: 49576.5898 - val_loss: 50391.3906 - val_mae: 50391.3906
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49536.5859 - mae: 49536.5859 - val_loss: 50390.8281 - val_mae: 50390.8281
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49158.9922 - mae: 49158.9922 - val_loss: 50391.7930 - val_mae: 50391.7930
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49035.5234 - mae: 49035.5234 - val_loss: 50383.3438 - val_mae: 50383.3438
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49484.4805 - mae: 49484.4805 - val_loss: 50389.3711 - val_mae: 50389.3711
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49492.0312 - mae: 49492.0312 - val_loss: 50385.0078 - val_mae: 50385.0078
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49394.6406 - mae: 49394.6406 - val_loss: 50383.5195 - val_mae: 50383.5195
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49136.6172 - mae: 49136.6172 - val_loss: 50384.0625 - val_mae: 50384.0625
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49408.9805 - mae: 49408.9805 - val_loss: 50382.8203 - val_mae: 50382.8203
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49399.7695 - mae: 49399.7695 - val_loss: 50383.6016 - val_mae: 50383.6016
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49846.4414 - mae: 49846.4414 - val_loss: 50382.5977 - val_mae: 50382.5977
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49269.6133 - mae: 49269.6133 - val_loss: 50381.9805 - val_mae: 50381.9805
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 48882.2539 - mae: 48882.2539 - val_loss: 50376.8633 - val_mae: 50376.8633
Epoch 67/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49520.8984 - mae: 49520.8984 - val_loss: 50385.8555 - val_mae: 50385.8555
Epoch 68/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49288.7695 - mae: 49288.7695 - val_loss: 50384.4922 - val_mae: 50384.4922
Epoch 69/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49189.8281 - mae: 49189.8281 - val_loss: 50385.8516 - val_mae: 50385.8516
Epoch 70/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48901.0586 - mae: 48901.0586 - val_loss: 50395.1836 - val_mae: 50395.1836
Epoch 71/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 48863.4844 - mae: 48863.4844 - val_loss: 50384.1992 - val_mae: 50384.1992
Epoch 72/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49567.5781 - mae: 49567.5781 - val_loss: 50395.1016 - val_mae: 50395.1016
Epoch 73/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49742.5859 - mae: 49742.5859 - val_loss: 50391.8477 - val_mae: 50391.8477
Epoch 74/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49231.6602 - mae: 49231.6602 - val_loss: 50387.1367 - val_mae: 50387.1367
Epoch 75/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49601.4688 - mae: 49601.4688 - val_loss: 50391.8008 - val_mae: 50391.8008
Epoch 76/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49367.0000 - mae: 49367.0000 - val_loss: 50387.9219 - val_mae: 50387.9219

In [66]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [70]:
# evaluate the model

%tensorboard --logdir regressionlogs/fit20250514-130952

Reusing TensorBoard on port 6009 (pid 26968), started 0:00:09 ago. (Use '!kill 26968' to kill it.)

In [ ]:
# evaluate model on test data

test_loss,test_mae=model.evaluate(x_test,y_test)
print(f'Test MAE : {test_mae}')

# if the score is more near to zero we can say that the model is trained pretty well

63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 51125.6484 - mae: 51125.6484
Test MAE : 50376.86328125

In [78]:
model.save('regression_model.keras')